<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	  package="org.billthefarmer.mididriver"
	  android:versionCode="110"
	  android:versionName="1.10" >

  <uses-sdk
      android:minSdkVersion="14"
      android:targetSdkVersion="17" />

</manifest>
